<div class = "side_header">
  <div class = "header_name">
    <a href = "#" >Tom</a>
  </div>
  <div class = "chat_create">
    <a href = "#" >チャットを作成する</a>
  </div>
</div>

<div class = "side_body">
  <div class  = "name_links">
     <a href= "#" class = "room_name">techroom1</a>
  </div>
    <div class = "name_links">
      <a href= "#" class = "room_name">techroom2</a>
  </div>
</div>